# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Data & Scripts (Excluded from Git)
questions.js
src/questions.js
src/new_database.json
analyze_questions.*
upload_questions.*
src/temp_questions.js
*.ps1
